* {
  background: url('https://media.istockphoto.com/id/672310452/photo/abstract-science-circle-global-network-connection-in-hands-on-sunset-background.jpg?s=2048x2048&w=is&k=20&c=4Rzv4FTZOaCTJ6V-wv72NyGGHDRCZd9xH-Nm2fRG57s=')
}

h1 {
  color: brown;
  text-align: center;
  text-decoration: underline;
  margin-top: 200px;

}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  color: darkgreen;
  text-align: center;
  animation: slideIn 2s ease-in-out forwards;
  transform: translateY(30px);
  opacity: 0;
  animation-delay: 0.8s;

}

h3 {
  color: darkblue;
  font-size: 30px;
}

p {
  font-size: 20px;
}

ul {
  animation: slideIn 2s ease-in-out forwards;
  transform: translateY(30px);
  opacity: 0;
  animation-delay: 0.5s;

}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}